### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [485]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [486]:
#calculate the total number of schools
schools = school_data_complete["school_name"].unique()
totalschools = len(schools)
totalschools

15

In [487]:
#calculate the total number of students
totalstudents = len(school_data_complete["student_name"])
totalstudents

39170

In [488]:
#calculate the total budget
totalbudget = school_data["budget"].sum()
totalbudget

24649428

In [489]:
#calculate average math score
avgmathscore = school_data_complete["math_score"].mean()
avgmathscore

78.98537145774827

In [490]:
#calculate average reading score
avgreadingscore = school_data_complete["reading_score"].mean()
avgreadingscore

81.87784018381414

In [491]:
#calculate the overall pass rate - (avg math score + avg reading score)/2
overallpassrate = (avgmathscore+avgreadingscore)/2
overallpassrate

80.43160582078121

In [492]:
#calculate % of students with a passing math score - 70 or greater
passesmath = 0

mathgrade_data = student_data.loc[:,"math_score"]

for grade in mathgrade_data:
    if grade >= 70:
        passesmath += 1

pctpassingmath = (passesmath/totalstudents)*100

pctpassingmath

74.9808526933878

In [493]:
#calculate % of students with a passing reading score - 70 or greater
passesreading = 0

readinggrade_data = student_data.loc[:,"reading_score"]

for grade in readinggrade_data:
        if grade >= 70:
            passesreading+=1

pctpassingreading = (passesreading/totalstudents)*100

pctpassingreading

85.80546336482001

In [494]:
#create a dataframe for the results
districtsummarynums = [totalschools, totalstudents, totalbudget, avgmathscore, avgreadingscore, overallpassrate,pctpassingmath, pctpassingreading]
districtsummarytitles =["Total Schools", "Total Students", "Total Budget", "Avg Math Score", "Avg Reading Score", "Overall Pass Rate","% Passing Math", "% Passing Reading"]

districtsummary_df = pd.DataFrame([districtsummarynums], columns = districtsummarytitles)
districtsummary_df

,Total Schools,Total Students,Total Budget,Avg Math Score,Avg Reading Score,Overall Pass Rate,% Passing Math,% Passing Reading
0,15,39170,24649428,78.985371,81.87784,80.431606,74.980853,85.805463

In [495]:
## District Summary

#* Calculate the total number of schools

#* Calculate the total number of students

#* Calculate the total budget

#* Calculate the average math score 

#* Calculate the average reading score

#* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

#* Calculate the percentage of students with a passing math score (70 or greater)

#* Calculate the percentage of students with a passing reading score (70 or greater)

#* Create a dataframe to hold the above results

#* Optional: give the displayed data cleaner formatting

In [496]:
#Show the school group data
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [497]:
#perstudent budget
perstudent = school_data["budget"]/school_data["size"]

perstudentbudget_df = pd.DataFrame({"Per Student Budget":perstudent})

perstudentbudget_df.head()

   Per Student Budget
0               655.0
1               639.0
2               600.0
3               652.0
4               625.0

In [498]:
#add the student budget to the school data
school_data_summary = pd.concat([school_data, perstudentbudget_df], axis=1)

school_data_summary.head()

,School ID,school_name,type,size,budget,Per Student Budget
0,0,Huang High School,District,2917,1910635,655.0
1,1,Figueroa High School,District,2949,1884411,639.0
2,2,Shelton High School,Charter,1761,1056600,600.0
3,3,Hernandez High School,District,4635,3022020,652.0
4,4,Griffin High School,Charter,1468,917500,625.0

In [499]:
#show the student data
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [500]:
#groupby on the student data
student_data_short = student_data[["school_name","reading_score","math_score"]]

student_data_short.groupby("school_name")

student_data_short.head()

         school_name  reading_score  math_score
0  Huang High School             66          79
1  Huang High School             94          61
2  Huang High School             90          60
3  Huang High School             67          58
4  Huang High School             97          84

In [501]:
#calculate the average reading score and math score
student_data_avgscores = student_data_short.groupby("school_name").agg(np.mean)

student_data_avgscores.head()

                      reading_score  math_score
school_name
Bailey High School        81.033963   77.048432
Cabrera High School       83.975780   83.061895
Figueroa High School      81.158020   76.711767
Ford High School          80.746258   77.102592
Griffin High School       83.816757   83.351499

In [502]:
#Join the math and reading score to the school summary
school_data_summary2 = school_data_summary.join(student_data_avgscores,on="school_name",how="outer", lsuffix = "_left", rsuffix = "_right")

school_data_summary_rename = school_data_summary2.rename(columns = {"reading_score":"avg reading score","math_score":"avg math score"})

school_data_summary_rename.head(10)

,School ID,school_name,type,size,budget,Per Student Budget,avg reading score,avg math score
0,0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414
1,1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767
2,2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455
3,3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752
4,4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499
5,5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201
6,6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895
7,7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432
8,8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279
9,9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917

In [503]:
#calculate % passing reading
#set passreading variable
passreading = (student_data_short.loc[student_data_short["reading_score"]>=70])

passreadingcount = passreading.groupby("school_name").count()

passreadingcount_df = pd.DataFrame(passreadingcount["reading_score"])

passreadingcount_df

                       reading_score
school_name
Bailey High School              4077
Cabrera High School             1803
Figueroa High School            2381
Ford High School                2172
Griffin High School             1426
Hernandez High School           3748
Holden High School               411
Huang High School               2372
Johnson High School             3867
Pena High School                 923
Rodriguez High School           3208
Shelton High School             1688
Thomas High School              1591
Wilson High School              2204
Wright High School              1739

In [504]:
#calculate % passing math
#set passmath variable
passmath = (student_data_short.loc[student_data_short["math_score"]>=70])

passmathcount = passmath.groupby("school_name").count()

passmathcount_df = pd.DataFrame(passmathcount["math_score"])

passmathcount_df

                       math_score
school_name
Bailey High School           3318
Cabrera High School          1749
Figueroa High School         1946
Ford High School             1871
Griffin High School          1371
Hernandez High School        3094
Holden High School            395
Huang High School            1916
Johnson High School          3145
Pena High School              910
Rodriguez High School        2654
Shelton High School          1653
Thomas High School           1525
Wilson High School           2143
Wright High School           1680

In [505]:
#join pass math count with the summary table
school_data_summary3 = school_data_summary_rename.join(passmathcount_df, on="school_name", how="outer")

school_data_summary4 = school_data_summary3.join(passreadingcount_df, on="school_name", how="outer")

school_data_summary4

,School ID,school_name,type,size,budget,Per Student Budget,avg reading score,avg math score,math_score,reading_score
0,0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,1916,2372
1,1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,1946,2381
2,2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,1653,1688
3,3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,3094,3748
4,4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,1371,1426
5,5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,2143,2204
6,6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,1749,1803
7,7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,3318,4077
8,8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,395,411
9,9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,910,923
10,10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,1680,1739
11,11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,2654,3208
12,12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,3145,3867
13,13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,1871,2172
14,14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,1525,1591

In [506]:
#calculate the math passing rate for each school
mathpassrate = school_data_summary4["math_score"]/school_data_summary3["size"]

mathpassrate

0     0.656839
1     0.659885
2     0.938671
3     0.667530
4     0.933924
5     0.938677
6     0.941335
7     0.666801
8     0.925059
9     0.945946
10    0.933333
11    0.663666
12    0.660576
13    0.683096
14    0.932722
dtype: float64

In [507]:
#calculate the reading passing rate for each school
readingpassrate = school_data_summary4["reading_score"]/school_data_summary3["size"]

readingpassrate

0     0.813164
1     0.807392
2     0.958546
3     0.808630
4     0.971390
5     0.965396
6     0.970398
7     0.819333
8     0.962529
9     0.959459
10    0.966111
11    0.802201
12    0.812224
13    0.792990
14    0.973089
dtype: float64

In [508]:
#concatenate the math pass rate to the summary table
school_data_summary4=pd.concat([school_data_summary3, mathpassrate],axis=1)

school_data_summary5=school_data_summary4.rename(columns={0:"Math Pass Rate"})

school_data_summary5

,School ID,school_name,type,size,budget,Per Student Budget,avg reading score,avg math score,math_score,Math Pass Rate
0,0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,1916,0.656839
1,1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,1946,0.659885
2,2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,1653,0.938671
3,3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,3094,0.667530
4,4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,1371,0.933924
5,5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,2143,0.938677
6,6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,1749,0.941335
7,7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,3318,0.666801
8,8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,395,0.925059
9,9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,910,0.945946
10,10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,1680,0.933333
11,11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,2654,0.663666
12,12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,3145,0.660576
13,13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,1871,0.683096
14,14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,1525,0.932722

In [509]:
#concatenate the math pass rate to the summary table
school_data_summary6=pd.concat([school_data_summary5, readingpassrate],axis=1)

school_data_summary7=school_data_summary6.rename(columns={0:"Reading Pass Rate"})

school_data_summary7

,School ID,school_name,type,size,budget,Per Student Budget,avg reading score,avg math score,math_score,Math Pass Rate,Reading Pass Rate
0,0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,1916,0.656839,0.813164
1,1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,1946,0.659885,0.807392
2,2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,1653,0.938671,0.958546
3,3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,3094,0.667530,0.808630
4,4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,1371,0.933924,0.971390
5,5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,2143,0.938677,0.965396
6,6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,1749,0.941335,0.970398
7,7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,3318,0.666801,0.819333
8,8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,395,0.925059,0.962529
9,9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,910,0.945946,0.959459
10,10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,1680,0.933333,0.966111
11,11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,2654,0.663666,0.802201
12,12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,3145,0.660576,0.812224
13,13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,1871,0.683096,0.792990
14,14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,1525,0.932722,0.973089

In [510]:
#calculate overall passrate
overallpassrate = (school_data_summary7["Math Pass Rate"]+school_data_summary7["Reading Pass Rate"])/2
overallpassrate

0     0.735002
1     0.733639
2     0.948609
3     0.738080
4     0.952657
5     0.952037
6     0.955867
7     0.743067
8     0.943794
9     0.952703
10    0.949722
11    0.732933
12    0.736400
13    0.738043
14    0.952905
dtype: float64

In [511]:
#concatenate the overall pass rate to the summary table
school_data_summary8=pd.concat([school_data_summary7, overallpassrate],axis=1)

school_data_summary9=school_data_summary8.rename(columns={0:"Overall Pass Rate"})

school_data_summary9

,School ID,school_name,type,size,budget,Per Student Budget,avg reading score,avg math score,math_score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate
0,0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,1916,0.656839,0.813164,0.735002
1,1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,1946,0.659885,0.807392,0.733639
2,2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,1653,0.938671,0.958546,0.948609
3,3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,3094,0.667530,0.808630,0.738080
4,4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,1371,0.933924,0.971390,0.952657
5,5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,2143,0.938677,0.965396,0.952037
6,6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,1749,0.941335,0.970398,0.955867
7,7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,3318,0.666801,0.819333,0.743067
8,8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,395,0.925059,0.962529,0.943794
9,9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,910,0.945946,0.959459,0.952703
10,10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,1680,0.933333,0.966111,0.949722
11,11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,2654,0.663666,0.802201,0.732933
12,12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,3145,0.660576,0.812224,0.736400
13,13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,1871,0.683096,0.792990,0.738043
14,14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,1525,0.932722,0.973089,0.952905

In [512]:
#final school summary

final_school_summary = school_data_summary9[["school_name","type","size","budget","Per Student Budget","avg math score","avg reading score","Math Pass Rate","Reading Pass Rate","Overall Pass Rate"]]

final_school_summary

,school_name,type,size,budget,Per Student Budget,avg math score,avg reading score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [513]:
topoverall = final_school_summary.sort_values("Overall Pass Rate", ascending=False)

topoverall

,school_name,type,size,budget,Per Student Budget,avg math score,avg reading score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933

In [514]:
#pull top 5 in overall pass rate
topoverallsummary = topoverall.nlargest(5,"Overall Pass Rate")

topoverallsummary

,school_name,type,size,budget,Per Student Budget,avg math score,avg reading score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037

## Bottom Performing Schools (By Passing Rate)

In [515]:
#pull bottom 5 performing schools by passrate
bottomoverallsummary = topoverall.nsmallest(5,"Overall Pass Rate")

bottomoverallsummary

,school_name,type,size,budget,Per Student Budget,avg math score,avg reading score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [516]:
student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [517]:
ninth_math = student_data.loc[student_data["grade"] == "9th", :]

ninth_math_group = ninth_math.groupby("school_name").agg(np.mean)

ninth_math_df = pd.DataFrame(ninth_math_group["math_score"])

ninth_math_df = ninth_math_df.rename(columns = {"math_score":"9th Grade Avg Math Score"})

ninth_math_df.head()

                      9th Grade Avg Math Score
school_name
Bailey High School                   77.083676
Cabrera High School                  83.094697
Figueroa High School                 76.403037
Ford High School                     77.361345
Griffin High School                  82.044010

In [518]:
tenth_math = student_data.loc[student_data["grade"] == "10th", :]

tenth_math_group = tenth_math.groupby("school_name").agg(np.mean)

tenth_math_df = pd.DataFrame(tenth_math_group["math_score"])

tenth_math_df = tenth_math_df.rename(columns = {"math_score":"10th Grade Avg Math Score"})

tenth_math_df.head()

                      10th Grade Avg Math Score
school_name
Bailey High School                    76.996772
Cabrera High School                   83.154506
Figueroa High School                  76.539974
Ford High School                      77.672316
Griffin High School                   84.229064

In [519]:
eleven_math = student_data.loc[student_data["grade"] == "11th", :]

eleven_math_group = eleven_math.groupby("school_name").agg(np.mean)

eleven_math_df = pd.DataFrame(eleven_math_group["math_score"])

eleven_math_df = eleven_math_df.rename(columns = {"math_score":"11th Grade Avg Math Score"})

eleven_math_df.head()

                      11th Grade Avg Math Score
school_name
Bailey High School                    77.515588
Cabrera High School                   82.765560
Figueroa High School                  76.884344
Ford High School                      76.918058
Griffin High School                   83.842105

In [520]:
twelth_math = student_data.loc[student_data["grade"] == "12th", :]

twelth_math_group = twelth_math.groupby("school_name").agg(np.mean)

twelth_math_df = pd.DataFrame(twelth_math_group["math_score"])

twelth_math_df = twelth_math_df.rename(columns = {"math_score":"12th Grade Avg Math Score"})

twelth_math_df.head()

                      12th Grade Avg Math Score
school_name
Bailey High School                    76.492218
Cabrera High School                   83.277487
Figueroa High School                  77.151369
Ford High School                      76.179963
Griffin High School                   83.356164

In [521]:
#combine all math scores by grade together
combinedmathscores = pd.concat([ninth_math_df,tenth_math_df, eleven_math_df, twelth_math_df], axis=1)

combinedmathscores

,9th Grade Avg Math Score,10th Grade Avg Math Score,11th Grade Avg Math Score,12th Grade Avg Math Score
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [522]:
ninth_read = student_data.loc[student_data["grade"] == "9th", :]

ninth_read_group = ninth_read.groupby("school_name").agg(np.mean)

ninth_read_df = pd.DataFrame(ninth_read_group["reading_score"])

ninth_read_df = ninth_read_df.rename(columns = {"reading_score":"9th Grade Avg Reading Score"})

ninth_read_df.head()

                      9th Grade Avg Reading Score
school_name
Bailey High School                      81.303155
Cabrera High School                     83.676136
Figueroa High School                    81.198598
Ford High School                        80.632653
Griffin High School                     83.369193

In [523]:
tenth_read = student_data.loc[student_data["grade"] == "10th", :]

tenth_read_group = tenth_read.groupby("school_name").agg(np.mean)

tenth_read_df = pd.DataFrame(tenth_read_group["reading_score"])

tenth_read_df = tenth_read_df.rename(columns = {"read_score":"10th Grade Avg Reading Score"})

tenth_read_df.head()

                      reading_score
school_name
Bailey High School        80.907183
Cabrera High School       84.253219
Figueroa High School      81.408912
Ford High School          81.262712
Griffin High School       83.706897

In [524]:
eleven_read = student_data.loc[student_data["grade"] == "11th", :]

eleven_read_group = eleven_read.groupby("school_name").agg(np.mean)

eleven_read_df = pd.DataFrame(eleven_read_group["reading_score"])

eleven_read_df = eleven_read_df.rename(columns = {"reading_score":"11th Grade Avg Reading Score"})

eleven_read_df.head()

                      11th Grade Avg Reading Score
school_name
Bailey High School                       80.945643
Cabrera High School                      83.788382
Figueroa High School                     80.640339
Ford High School                         80.403642
Griffin High School                      84.288089

In [525]:
twelth_read = student_data.loc[student_data["grade"] == "12th", :]

twelth_read_group = twelth_math.groupby("school_name").agg(np.mean)

twelth_read_df = pd.DataFrame(twelth_read_group["reading_score"])

twelth_read_df = twelth_read_df.rename(columns = {"reading_score":"12th Grade Avg Reading Score"})

twelth_read_df.head()

                      12th Grade Avg Reading Score
school_name
Bailey High School                       80.912451
Cabrera High School                      84.287958
Figueroa High School                     81.384863
Ford High School                         80.662338
Griffin High School                      84.013699

In [526]:
#combine all reading scores by grade together
combinedreadscores = pd.concat([ninth_read_df,tenth_read_df, eleven_read_df, twelth_read_df], axis=1)

combinedreadscores

,9th Grade Avg Reading Score,reading_score,11th Grade Avg Reading Score,12th Grade Avg Reading Score
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [527]:
topoverall

,school_name,type,size,budget,Per Student Budget,avg math score,avg reading score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933

In [528]:
minbudget = topoverall.min()

minbudget

school_name           Bailey High School
type                             Charter
size                                 427
budget                            248087
Per Student Budget                   578
avg math score                   76.6294
avg reading score                80.7447
Math Pass Rate                  0.656839
Reading Pass Rate                0.79299
Overall Pass Rate               0.732933
dtype: object

In [529]:
maxbudget = topoverall.max()

maxbudget

school_name           Wright High School
type                            District
size                                4976
budget                           3124928
Per Student Budget                   655
avg math score                   83.8399
avg reading score                84.0447
Math Pass Rate                  0.945946
Reading Pass Rate               0.973089
Overall Pass Rate               0.955867
dtype: object

In [530]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0.0, 585.0, 615.0, 645.0, 675.0]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

topoverall["Per Student Budget Summary"] = pd.cut(topoverall["Per Student Budget"], spending_bins, labels=group_names)
topoverall

,school_name,type,size,budget,Per Student Budget,avg math score,avg reading score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate,Per Student Budget Summary
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867,<$585
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905,$615-645
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703,$585-615
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657,$615-645
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037,<$585
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722,<$585
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609,$585-615
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794,<$585
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067,$615-645
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080,$645-675
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043,$615-645
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400,$645-675
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002,$645-675
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639,$615-645
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933,$615-645

In [537]:
#get final table
topoverall_stubudg = topoverall[["Per Student Budget Summary","avg reading score","avg math score","Math Pass Rate","Reading Pass Rate","Overall Pass Rate"]]

topoverall_groups = topoverall_stubudg.groupby("Per Student Budget Summary").mean()

topoverall_groups

,avg reading score,avg math score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate
Per Student Budget Summary,,,,,
<$585,83.933814,83.455399,0.934601,0.966109,0.950355
$585-615,83.885211,83.599686,0.942309,0.959003,0.950656
$615-645,81.891436,79.079225,0.756682,0.861066,0.808874
$645-675,81.027843,76.997210,0.661648,0.811340,0.736494

## Scores by School Size

* Perform the same operations as above, based on school size.

In [539]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

topoverall["Per School Size Summary"] = pd.cut(topoverall["size"], size_bins, labels=group_names)
topoverall

,school_name,type,size,budget,Per Student Budget,avg math score,avg reading score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate,Per Student Budget Summary,Per School Size Summary
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867,<$585,Medium (1000-2000)
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905,$615-645,Medium (1000-2000)
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703,$585-615,Small (<1000)
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657,$615-645,Medium (1000-2000)
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037,<$585,Large (2000-5000)
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722,<$585,Medium (1000-2000)
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609,$585-615,Medium (1000-2000)
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794,<$585,Small (<1000)
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067,$615-645,Large (2000-5000)
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080,$645-675,Large (2000-5000)
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043,$615-645,Large (2000-5000)
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400,$645-675,Large (2000-5000)
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002,$645-675,Large (2000-5000)
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639,$615-645,Large (2000-5000)
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933,$615-645,Large (2000-5000)

In [540]:
topoverall_size = topoverall[["Per School Size Summary","avg reading score","avg math score","Math Pass Rate","Reading Pass Rate","Overall Pass Rate"]]

topoverall_sizegroups = topoverall_size.groupby("Per School Size Summary").mean()

topoverall_sizegroups

,avg reading score,avg math score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate
Per School Size Summary,,,,,
Small (<1000),83.929843,83.821598,0.935502,0.960994,0.948248
Medium (1000-2000),83.864438,83.374684,0.935997,0.967907,0.951952
Large (2000-5000),81.344493,77.746417,0.699634,0.827666,0.763650

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757

In [548]:
# Sample bins. Feel free to create your own bins.
topoverall_type = topoverall.groupby("type").mean()


topoverall_type_df = topoverall_type[["avg math score","avg reading score","Math Pass Rate","Reading Pass Rate","Overall Pass Rate"]]

topoverall_type_df

,avg math score,avg reading score,Math Pass Rate,Reading Pass Rate,Overall Pass Rate
type,,,,,
Charter,83.473852,83.896421,0.936208,0.965865,0.951037
District,76.956733,80.966636,0.665485,0.807991,0.736738